@using DrugTimer.Shared
@using DrugTimer.Client.Components
@using System.Threading 

@inject HttpClient Http
@page "/"

@if (_information == null)
{
    <p>Loading...</p>
}
else
{
<TabControl>
    @foreach (DrugInfo info in _information)
    {
        <TabPage Text="@info.Name">
            <DrugDisplay DrugInfo="@info" />
        </TabPage>
    }
</TabControl>
}

@code {
    private DrugInfo[] _information;
    private Timer _timer;

    protected override async Task OnInitializedAsync()
    {
        await UpdateInfo();

        _timer = new Timer(async e =>
        {
            bool response = await Http.GetFromJsonAsync<bool>("/api/State");
            Console.WriteLine(response);

            if (response == true)
            {
                await UpdateInfo();
                StateHasChanged();
            }
        }, null, TimeSpan.Zero, TimeSpan.FromMinutes(1));
    }

    private async Task UpdateInfo()
    {
        _information = await Http.GetFromJsonAsync<DrugInfo[]>("/api/DrugInfo");
    }
}
