@using DrugTimer.Shared
@using DrugTimer.Client.Components
@using System.Threading
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject HttpClient Http
@page "/"

@if (_information == null)
{
    <p>Loading...</p>
}
else
{
    <TabControl>
        @foreach (DrugInfo info in _information)
        {
            <TabPage Text="@info.Name">
                <DrugDisplay DrugInfo="@info" />
            </TabPage>
        }
    </TabControl>
}

@code {
    private List<DrugInfo> _information;
    private HubConnection hubConnection;

    /// <summary>
    /// Override the initialization to add a websocket
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        //create a new websocket
        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("posthub"))
                                                  .Build();

        //on druginfo events, add drug info to local list
        hubConnection.On<DrugInfo>("DrugInfo", async drugInfo =>
        {
            Console.WriteLine("New DrugInfo added");
            _information.Add(drugInfo);

            await InvokeAsync(StateHasChanged);
        });

        //on drugentry events, find druginfo with that name and add entry to it
        hubConnection.On<DrugEntry>("DrugEntry", async drugEntry =>
        {
            Console.WriteLine("New DrugEntry added");
            if (!_information.Any(x => x.Name == drugEntry.DrugName))
            {
                Console.WriteLine("no drug with that name, probably a big error?");
                return;
            }

            _information.First(x => x.Name == drugEntry.DrugName).Entries.Add(drugEntry.Time);

            await InvokeAsync(StateHasChanged);
        });

        //fetch initial data, and start socket
        _information = await UpdateInfo();
        await hubConnection.StartAsync();
    }

    /// <summary>
    /// Finds a list of DrugInfos from the server API
    /// </summary>
    /// <returns>A list of DrugInfos</returns>
    private async Task<List<DrugInfo>> UpdateInfo()
    {
        return await Http.GetFromJsonAsync<List<DrugInfo>>("/api/DrugInfo");
    }
}
