@using DrugTimer.Shared
@using DrugTimer.Client.Components

@inject HttpClient Http
@page "/"

@if (information == null)
{
    <p>Loading...</p>
}
else
{
<TabControl>
    @foreach (DrugInfo info in information)
    {
        <TabPage Text="@info.Name">
            <h1>
                @info.TimeBetweenDoses
            </h1>
        </TabPage>
    }
</TabControl>
}

@code {
    private DrugInfo[] information;

    protected override async Task OnInitializedAsync()
    {
        information = await Http.GetFromJsonAsync<DrugInfo[]>("/api/DrugInfo");
    }
}
