@using DrugTimer.Shared
@inject HttpClient Http
@page "/"

@if (information == null)
{
    <p>Loading...</p>
}
else
{
    <p>@information[0].Name</p>
    <p>@information[0].TimeBetweenDoses</p>
}


@code {
    private DrugInformation[] information;

    protected override async Task OnInitializedAsync()
    {
        information = await Http.GetFromJsonAsync<DrugInformation[]>("DrugInformation");
    }
}
