@using DrugTimer.Shared
@inject HttpClient Http
@page "/"

@if (information == null)
{
    <p>Loading...</p>
}
else
{
    <p>@information[0].Name</p>
    <p>@information[0].TimeBetweenDoses</p>
    <p>@information[0].Entries.Last()</p>
}


@code {
    private DrugInfo[] information;

    protected override async Task OnInitializedAsync()
    {
        information = await Http.GetFromJsonAsync<DrugInfo[]>("/api/DrugInfo");
    }
}
