@using DrugTimer.Shared
@using DrugTimer.Client.Components
@using System.Threading
@using Microsoft.AspNetCore.SignalR.Client

@inject NavigationManager NavigationManager
@inject HttpClient Http
@page "/"

@if (_information == null)
{
    <p>Loading...</p>
}
else
{
    <TabControl>
        @foreach (DrugInfo info in _information)
        {
            <TabPage Text="@info.Name">
                <DrugDisplay DrugInfo="@info" />
            </TabPage>
        }
    </TabControl>
}

@code {
    private DrugInfo[] _information;
    private HubConnection hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("posthub"))
                                                  .Build();

        hubConnection.On("StateChange", async () =>
        {
            Console.WriteLine("State change requested");
            _information = await UpdateInfo(); 

            await InvokeAsync(StateHasChanged);
        });

        _information = await UpdateInfo();
        await hubConnection.StartAsync();
    }

    private async Task<DrugInfo[]> UpdateInfo()
    {
        return await Http.GetFromJsonAsync<DrugInfo[]>("/api/DrugInfo");
    }
}
