@using Microsoft.AspNetCore.SignalR.Client
@using DrugTimer.Shared
@using System.Globalization

<div class="card text-center" style="display: inline-grid">
    <div class="card-header">
        <h4>Add Entry</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <label for="time" style="width: 60px">Time</label>
            <input type="datetime" id="time" @bind="@_entryTime" style="width: 180px" />
            <br />
            <label for="count" style="width: 60px">Count</label>
            <input type="number" min="1" id="count" @bind="@_entryCount" style="width: 180px" />
            <br />
            <button class="btn btn-primary" @onclick="@CreateEntry">Add entry</button>
        </li>
    </ul>
</div>

@code {
    [Parameter] public HubConnection Connection { get; set; }
    [Parameter] public DrugInfo DrugInfo { get; set; }
    [Parameter] public Action<bool> TimerTick { get; set; }

    private string _entryTime;
    private string _entryCount = "1";

    /// <summary>
    /// Adds an entry to the database
    /// </summary>
    private async void CreateEntry()
    {
        //checks if date string is null, whitespace or not valid datetime
        if (string.IsNullOrWhiteSpace(_entryTime)) return;
        if (!DateTime.TryParse(_entryTime, CultureInfo.GetCultureInfo("en-GB"), DateTimeStyles.None, out _)) return;

        //checks if count string is null, whitespace or not valid int
        if (string.IsNullOrWhiteSpace(_entryCount)) return;
        if (!int.TryParse(_entryCount, out _)) return;

        DrugEntry entry = new DrugEntry()
        {
            DrugName = DrugInfo.Name,
            Time = DateTime.Parse(_entryTime, CultureInfo.GetCultureInfo("en-GB")),
            Count = Convert.ToInt32(_entryCount)
        };

        await Connection.SendAsync("AddDrugEntry", entry);

        await Task.Delay(500);
        TimerTick(false);
    }
}
