@using Microsoft.AspNetCore.SignalR.Client
@using DrugTimer.Shared

<form style="margin-top: 20px">
    <div class="form-group" style="margin-left: 0px;">
        <label for="drugName">Drug name</label>
        <input type="text" id="drugName" class="form-control" @bind="@_newDrug["name"]" />
        <small class="form-text text-muted">
            The name of the drug.
        </small>
    </div>
    <div class="form-group" style="margin-left: 0px;">
        <label for="drugTime">Time between doses</label>
        <input type="number" class="form-control" id="drugTime" @bind="@_newDrug["doseTime"]" />
        <small class="form-text text-muted">
            How many hours between doses. Leave empty (or 0) if drug doesn't fit that schedule.
        </small>
    </div>
    <div class="form-group" style="margin-left: 0px;">
        <label for="drugInfo">Drug information</label>
        <input type="text" class="form-control" id="drugInfo" @bind="@_newDrug["info"]" />
        <small class="form-text text-muted">
            Any other drug information, such as dosage.
        </small>
    </div>
</form>
<button class="btn btn-primary" @onclick="@AddDrug">Add drug</button>

@code {
    [Parameter] public HubConnection Connection { get; set; }

    private Dictionary<string, string> _newDrug;

    protected override void OnInitialized()
    {
        //set up new drug options
        _newDrug = new Dictionary<string, string>()
        {
            { "name", "" },
            { "doseTime", "" },
            { "info", "" }
        };
    }

    /// <summary>
    /// Adds a drug to the database, fetching data from the add drug page
    /// </summary>
    private void AddDrug()
    {
        if (String.IsNullOrEmpty(_newDrug["name"]))
            return;

        decimal? value;
        if (_newDrug["doseTime"] == "" || _newDrug["doseTime"] == "0")
            value = null;
        else
            value = Convert.ToDecimal(_newDrug["doseTime"]);

        DrugInfo info = new DrugInfo()
        {
            Name = _newDrug["name"],
            TimeBetweenDoses = value,
            Info = _newDrug["info"]
        };

        Connection.SendAsync("AddDrugInfo", info);
    }
}